<div id="hero-component" class="hero-component">
  <div class="wrapper dark">
    <div class="container ">
      <div class="row vertical-align">
        <div class="col-sm-12">
          <img class="exclamation" src="data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2Mi45NyAyNDQuMzYiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48dGl0bGU+ZXhjbGFtYXRpb248L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTAsMjEyLjg4YTMyLjA2LDMyLjA2LDAsMCwxLDIuNC0xMi4zMywzMC4yMiwzMC4yMiwwLDAsMSwxNi43Ny0xNi43NiwzMS45NCwzMS45NCwwLDAsMSwxMi4zMi0yLjQsMzIsMzIsMCwwLDEsMTIuMzIsMi40LDMwLjMxLDMwLjMxLDAsMCwxLDE2Ljc3LDE2Ljc2LDMzLDMzLDAsMCwxLDAsMjQuNjVBMzAuMzYsMzAuMzYsMCwwLDEsNDMuODEsMjQyYTMyLjk1LDMyLjk1LDAsMCwxLTI0LjY0LDBBMzAuMjgsMzAuMjgsMCwwLDEsMi40LDIyNS4yLDMyLDMyLDAsMCwxLDAsMjEyLjg4Wm01Ny4xNi01MC42Nkg1LjgyVjBINTcuMTZaIi8+PC9zdmc+" alt="">
          <h1>Change the way <br> you watch TV with Alexa* </h1>
          <h2>Introducing a new FiOS<sup>&reg;</sup> experience</h2>
        </div>
      </div>
    </div>
  </div>
</div>
