<div id="hero-component" class="hero-component">
  <div class="wrapper dark">
    <div class="container ">
      <div class="row">
        <div class="col-sm-6">
          <h1>Eenie, meenie, <i class="tab-hero"></i>miney, more </h1>
        </div>
        <div class="col-sm-6">

          <div class="price-offer-title-sweetener">
            <div class="price">
                <sup>$</sup>12
            </div>
            <div class="price-title">  internet  </div>
          </div>
          <div class="price-terms-hero">
            per month for 24 months with qualifying Voice service. Installation, equipment Internet Infrastructure Surcharge, other fees & taxes apply. Services are subject to all applicable Frontier terms and conditions
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
